.code-mirror {
  height: 100% !important;
}

.cm-focused {
  outline: none !important;
}

.panel-resize-handle {
  background-color: var(--mantine-color-gray-2);
  height: 1px !important;
  width: 100%;
}

.load-more-grid {
  inline-size: 280px;
  padding-block: 8px;
  padding-inline: 16px;
  position: absolute;
  inset-block-end: 8px;
  inset-inline-end: 8px;
  color: #4dabf7;
  line-height: 35px;
  background: rgba(255, 255, 204, 0.6);
}

.editor-tab {
  display: "flex" !important;
  justify-content: space-between !important;
  border-radius: 0 !important;
}

.editor-tab .editor-tab-close-icon {
  visibility: hidden;
  width: 1rem;
  height: 1rem;
}

.editor-tab:hover .editor-tab-close-icon {
  visibility: visible;
}

.editor-tab-list::before {
  border-width: 0px !important;
}

.editor-data-grid [role="columnheader"] {
  font-weight: 400 !important;
  font-size: 1rem;
}
