.app-code-highlight {
    margin-top: 0px !important;
}

.app-code-highlight .mantine-CodeHighlight-copy:hover,
.app-code-highlight .mantine-CodeHighlight-copy {
    margin-left: 10px !important;
    background: transparent !important;
    color: var(--mantine-color-blue-5);
}

.app-code-highlight .mantine-CodeHighlight-copy svg {
    stroke-width: 1;
}

:where([data-mantine-color-scheme='light']) .app-code-highlight {
    --code-background: #FFF9F1 !important;
}
